{% load staticfiles %}
<!-- ******FOOTER****** --> 
	<style type="text/css">
		#footer-bottom {
			min-height: 50px;
		}

		.footer-list{
			list-style-type: none;
			margin: 0;
	    padding: 0;
		}

		ul.footer-list > li {
			display: inline-block;
			padding-right: 25px;
		}

		ul.footer-list {
			margin-top: 20px
		}
	</style>
    <footer class="footer">
        <div class="container">
        	<div id="footer-bottom">
        		<ul class='footer-list'>
	        		<li><a href="">Golden Retrievers Cleveland</a></li>
	        		<li><a href="https://soundcloud.com/user-401164110"><img class="icon" src="{% static 'assets/images/bandcamp.svg' %}" alt=""></a></li>
	        	</ul>
        	</div>
        </div>  
            
        </div><!--//container-->
    </footer><!--//footer-->

   