{% load staticfiles %}

    <div id="contact" class="contact-section section text-center" style='padding-bottom: 0px !important;'>
        <div class="container">
            <h2 class="section-title">Info</h2>
            <div class="section-intro center-block">
                Feel free to send us an email or fill out our contact form if you have anything on your mind, or if you like what we are doing. 
            </div>

            <div class="contact-block center-block">
                <div class="row">
                    
                    <div class="item col-xs-12 col-md-6">
                        <div class="item-inner">
                            <div class="icon-holder">
                                <i class="fa fa-info-circle"></i>
                            </div><!--//icon-holder-->
                            <h4 class="title">Ethan's Email</h4>
                            <div class="email"><a href="mailto:tamapaiste1@yahoo.com">tamapaiste1@yahoo.com</a></div>
                        </div><!--//item-inner-->
                    </div><!--//item-->
                    
                    <div class="item col-xs-12 col-md-6">
                        <div class="item-inner">
                            <div class="icon-holder">
                                <i class="fa fa-calendar-check-o"></i>
                            </div><!--//icon-holder-->
                            <h4 class="title"><a href="#">Form</a></h4>
                            <a href="#" data-toggle="modal" data-target="#modal-info" class='btn btn-info'>Contact Us</a>
                        </div><!--//item-inner-->
                    </div><!--//item-->
                    
                    
                </div><!--//row-->
            </div><!--//contact-list-->
        </div><!--//containter-->
    </div>